/* Swiper Buttons */
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #404040 !important;
    height: 9px !important;
    border-radius: 10px !important;
    width: 80px !important;
}

.swiper-pagination-bullet {
    background:#d4d4d4 !important;
    height: 4px !important;
    border-radius: 10px !important;
    opacity:1 !important;
    width: 80px !important;
}
.swiper-pagination {
    width:fit-content !important;
    left:0px !important;
    position: relative !important;
        display: flex;
    align-items: center;
    bottom:0px !important;
}

.swiper-controls {
    display: flex;
    gap:20px;
    position: absolute;
    left: 120px;
    align-items: center;
    bottom: 30px;
    justify-content: center;
}

/* Buttons */
.global-black-button {
    letter-spacing: -.04rem;
    line-height: 1;
    height: 50px;
    padding: 10px 70px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 3px;
    border: 2px solid transparent;
    background: #1b1b1b;
    color: #fff;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    display: flex;

}

.global-blue-button {
    letter-spacing: -.04rem;
    line-height: 1;
    height: 50px;
    padding: 10px 70px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 3px;
    border: 2px solid transparent;
    background: #4041F1;
    color: #fff;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    display: flex;

}

.global-black-button-small {
    letter-spacing: -.04rem;
    line-height: 1;
    padding: 6px 20px;
    text-decoration: none;
    border-radius: 3px;
    border: 2px solid transparent;
    background: #1b1b1b;
    color: #fff;
    font-weight: 400;
    align-items: center;
    flex-shrink: 0;
    font-size: 14px;
    justify-content: center;
    display: flex;

}

.global-white-button {
    letter-spacing: -.04rem;
    line-height: 1;
    height: 50px;
    padding: 10px 70px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 3px;
    border: 2px solid transparent;
    background: #fff;
    color: #000;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    display: flex;

}

.global-border-button {
    letter-spacing: -.04rem;
    line-height: 1;
    height: 50px;
    padding: 10px 70px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid  #1b1b1b;;
    background:transparent;
    color:  #1b1b1b;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    display: flex;

}

/* Fonts */

/* Rauschen Typography System */

body {
  font-family: 'Rauschen', sans-serif;
  font-weight: 400;
      letter-spacing: 0;
}

.body {
    opacity: 1;
}
/* Headings */

h1, h2 {
  font-family: 'Rauschen', sans-serif;
  font-weight: 700;
      letter-spacing: 0;
}

h3, h4, h5 {
  font-family: 'Rauschen', sans-serif;
  font-weight: 500;
      letter-spacing: 0;
}

/* Buttons & UI text */

.button,
.button-label,
.shopify-payment-button__button,
.header__menu-item,
.menu-drawer__menu-item {
  font-family: 'Rauschen', sans-serif;
  font-weight: 500;
      letter-spacing: 0;
}