/* Swiper Buttons */
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #404040 !important;
    height: 9px !important;
    border-radius: 10px !important;
    width: 80px !important;
}

.swiper-pagination-bullet {
    background:#d4d4d4 !important;
    height: 4px !important;
    border-radius: 10px !important;
    opacity:1 !important;
    width: 80px !important;
}
.swiper-pagination {
    width:fit-content !important;
    left:0px !important;
    position: relative !important;
        display: flex;
    align-items: center;
    bottom:0px !important;
}

.swiper-controls {
    display: flex;
    gap:20px;
    position: absolute;
    left: 120px;
    align-items: center;
    bottom: 30px;
    justify-content: center;
}

/* Buttons */

.global-black-button {
letter-spacing: -0.04rem;
    line-height: 1;
    padding: 6px 20px 4px 20px;
    text-decoration: none;
    border-radius: 3px;
    border: 2px solid transparent;
    background: #1b1b1b;
    color: #fff;
    font-weight: 400;
    flex-shrink: 0;
    font-size: 14px;

}